<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.chat21.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".utils.MyApp"
    android:allowBackup="true"
        android:theme="@style/AppTheme">


        <activity android:name="org.chat21.android.ui.login.activities.ChatSignUpActivity"></activity>

        <!--display the contact list-->
        <activity
            android:name="org.chat21.android.ui.contacts.activites.ContactListActivity"
            android:label="@string/string_contact_list_activity_title">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <!--display the list of all active conversation-->
        <activity
            android:name="org.chat21.android.ui.conversations.activities.ConversationListActivity"
            android:label="@string/string_conversation_list_activity_title" />

        <!--display the list of all archived conversation-->
        <activity
            android:name="org.chat21.android.ui.archived_conversations.activities.ArchivedConversationListActivity"
            android:label="@string/activity_archived_conversation_list_title" />

        <!--display the list of all messages into a specific conversation-->
        <activity android:name="org.chat21.android.ui.messages.activities.MessageListActivity">
            <intent-filter>
                <action android:name="ACTION_DEFAULT_CHAT_INTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="org.chat21.android.ui.messages.activities.ImageDetailsActivity" />

        <activity
            android:name="org.chat21.android.ui.chat_groups.activities.NewGroupActivity"
            android:label="@string/string_create_group_activity_title"></activity>

        <activity
            android:name="org.chat21.android.ui.chat_groups.activities.AddMemberToChatGroupActivity"
            android:label="@string/string_add_members_activity_title"></activity>


        <activity android:name="org.chat21.android.ui.chat_groups.activities.GroupAdminPanelActivity"></activity>

        <!--display the user profile-->
        <activity android:name="org.chat21.android.ui.users.activities.PublicProfileActivity" />

        <activity
            android:name="org.chat21.android.ui.chat_groups.activities.ChatGroupsListActivity"
            android:label="@string/activity_group_list_activity_title"></activity>

        <service android:name="org.chat21.android.notifications.ChatFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_500" />


        <service
            android:name="org.chat21.android.instanceid.service.SaveFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="org.chat21.android.connectivity.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.chat21.android.core.receivers.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".ui.login.activities.ChatLoginActivity"
            android:label="Chat"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
